.flex-container {
   display: flex;
   margin: 0; 
  
  justify-content: space-around;
}
ul {
  
  list-style: none; 
  display: flex;
  justify-content: space-around;
}
#first_level {
    display: flex;
     justify-content: space-around;

}
